/* RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* RESET */




/* DEFINIR WIDTH/HEIGHT JÁ SETTADOS AJUDA NA REPONSIVIDADE
(LEMBRAR ATIVIDADE INTERFACE PRIME VIDEO) */

/* QUANDO UM ELEMENTO TEM UM WIDTH JÁ SETTADO E A TELA É MENOR DO QUE ESSE WIDTH 
ELE DIMINUI AUTOMÁTICAMENTE COM A TELA SEM MECHER NO ELEMENTO, DIMINUI RESPONSIVO JUNTO COM SEUS ELEMENTOS 
EX: DIV COM BOTÃO OU TEXTO  */




@font-face {
    font-family: arcadeFont;
    src: url(arcadeFont/ARCADECLASSIC.TTF);
}





/* PARA O HTML COBRIR A PÁGINA INTEIRA SEM DEIXAR ESPAÇOS EM BAIXO EM BRANCO */

html body {
    background-color: rgb(24, 111, 197);
    width: 100%;
    height: 100%;
    font-family: arcadeFont;
    overflow-x: hidden;
    scroll-behavior: smooth;


}



/* PARA O HTML COBRIR A PÁGINA INTEIRA SEM DEIXAR ESPAÇOS EM BAIXO EM BRANCO */






/* KEY-FRAME */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(-0%);
    }
}


@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(-0%);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(-0%);
    }
}




/* KEY-FRAME */






#navTop {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 885px;
}

#maeimgPokedex {
    display: flex;
    justify-content: center;
    min-width: 885px;
    background-color: rgb(255, 71, 71);
}

#imgPokedex {
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url(img/kindpng_2227056.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 865px;
    height: 690px;
    margin: 10px;
}


#imgPokedex {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

#imgPokedex:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}




/* EFEITO HOVER E SEM HOVER SEM JS,COLOCAMOS A MESMA ANIMAÇÃO NO ELEMENTO SEM O HOVER PORÉM SEU TRANSFORM SCALE 
SERÁ UM, ENTÃO TODA VEZ QUE ATIVAR O HOVER E LOGO APÓS EU SAIR DO HOVER, ELE VOLTARÁ AO SEU NORMAL POIS ESSA ANIMAÇÃO ESTÁ NO 
DEFAULT DELE */



#logoPokemon {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    cursor: url(img/cursor.png), auto;
    /* Use your custom image */
}

#logoPokemon:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease-in-out;
}



/* EFEITO HOVER E SEM HOVER SEM JS,COLOCAMOS A MESMA ANIMAÇÃO NO ELEMENTO SEM O HOVER PORÉM SEU TRANSFORM SCALE 
SERÁ UM, ENTÃO TODA VEZ QUE ATIVAR O HOVER E LOGO APÓS EU SAIR DO HOVER, ELE VOLTARÁ AO SEU NORMAL POIS ESSA ANIMAÇÃO ESTÁ NO 
DEFAULT DELE */

#inputTextoPokemon {
    position: absolute;
    display: flex;
    text-align: left;
    background-color: rgb(194, 232, 255);
    border: 7px solid rgb(121, 138, 155);
    width: 200px;
    height: 10px;
    color: rgb(121, 138, 155);
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 277px;
    cursor: url(img/cursor.png), auto;
    /* Use your custom image */

}


#inputTextoPokemon {
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}

#inputTextoPokemon:hover {
    transform: scale(1.04);
    transition: transform 0.1s ease-in-out;
}




#pokemonSprite {
    position: absolute;
    top: 50px;
    animation: fadeIn 2s ease-in-out;
}


#pokemonHelloMessageOrError {
    position: absolute;
    top: 50px;
    margin-right: 150px;
    animation: fadeIn 2s ease-in-out;
}



#dataPokemon {
    display: flex;
    align-self: last baseline;
    width: 288px;
    height: 210px;
    margin-right: 11px;
    margin-bottom: 55px;
    flex-wrap: wrap;
    flex-direction: column;
    color: rgb(49, 46, 46);
    background-color: rgb(194, 232, 255);
    border: 7px solid #798a9b;
    transform: scale(1);
    transition: 2s ease;





    /* width: 258px;
    height: 190px; */





}

#dataPokemon p {
    margin: 0;
    padding: 0;
    margin-left: 3px;

}

#dataPokemon:hover {
    transform: scale(1.25);
    transition: 2s ease;
}



#pokemonName {
    font-family: arcadeFont;
}



#audioLegacy {
    display: none;
}

#audioLatest {
    display: none;
}


#butonsAudio {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 500px;
    right: 90px;
    flex-direction: column;
}

#legacyButton {
    background-color: rgb(226, 235, 242);
    width: 100px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    cursor: url(img/cursor.png), auto;
    /* Use your custom image */

}

#latestButton {
    background-color: rgb(226, 235, 242);
    width: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    cursor: url(img/cursor.png), auto;
    /* Use your custom image */

}


#soundWave {
    display: none;
    position: absolute;
    width: 100px;
    height: 50px;
    left: 210px;
    top: 135px;
    transform: rotate(90deg);
}


#divTextImg {

    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 885px;
    overflow-x: hidden;

    /* MIN WIDTH E OVERFLOW X NO CONTAINER COM OS CONTEÚDOS AJUDARAM A NÃO DAR OVERFLOW */
    /* align-items: center; realmente centraliza no meio */
}

#pikachuContentDiv {
    opacity: 0;
}

#contentText {

    background-color: rgb(254, 213, 33);
    min-width: 865px;
    height: 700px;
    border-radius: 100px;
    margin: 10px;
    opacity: 0;
    justify-content: center;
    text-align: center;


}

#contentText h1 {
    font-size: 48px;
}

#contentText p {
    font-size: 38px;
}







#divTextImg2 {
    background-color: rgb(226, 235, 242);
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 885px;
    overflow-x: hidden;
}

#pikachuContentDiv2 {
    opacity: 0;
    border-radius: 30px;
}




#contentText2 {

    background-color: rgb(254, 213, 33);
    min-width: 865px;
    height: 700px;
    border-radius: 100px;
    margin: 10px;
    opacity: 0;
    justify-content: center;
    text-align: center;

}

#contentText2 h1 {
    font-size: 48px;
}

#contentText2 p {
    font-size: 38px;
}
















#divTextImg3 {
    background-color: rgb(255, 71, 71);
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 885px;
    overflow-x: hidden;
}

#pikachuContentDiv3 {
    opacity: 0;
    border-radius: 30px;
}




#contentText3 {

    background-color: rgb(254, 213, 33);
    min-width: 865px;
    height: 700px;
    border-radius: 100px;
    margin: 10px;
    opacity: 0;
    justify-content: center;
    text-align: center;

}

#contentText3 h1 {
    font-size: 48px;
}

#contentText3 p {
    font-size: 38px;
}






















#divTextImg4 {
    background-color: rgb(121, 138, 155);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1300px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 885px;
    position: relative;
    overflow-y: hidden;

    /* overflow-x: hidden; */
}




#contentText4 {

    background-color: rgb(254, 213, 33);
    padding: 20px;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;


}

#contentText4 h1 {
    font-size: 48px;
    margin-left: 15px;
}

#contentText4 p {
    font-size: 38px;
}






#mew {
    height: 1300px;
    display: flex;
    transition: 1s ease-out;
    align-items: flex-end;
}


#vaporeon {
    height: 1300px;
    display: flex;
    transition: 2s ease-out;


}



#iframeYoutube {
    position: absolute;
    top: 280px;
    right: 200px;
    opacity: 0;
}
















#divTextImg4Mobile {
    display: none;
    background-color: rgb(121, 138, 155);
    flex-direction: row;
    width: 100%;
    height: 1300px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 885px;
    position: relative;
    /* overflow-x: hidden; */
}


#iframeYoutubeMobile {
    position: absolute;
    top: 850px;
    opacity: 0;
}



#mewMobile {
    height: 1300px;
    display: flex;
    transition: 1s ease-out;
    align-items: flex-end;


}

#vaporeonMobile {

    height: 600px;
    display: flex;
    transition: 3s ease-out;



}

/* #pikachuContentDiv3{
    opacity: 0;
    border-radius: 30px;
 }
  */


/* 
#contentText3{
     
    background-color:rgb(254, 213, 33);
    min-width: 865px;
    height: 700px;
    border-radius: 100px;
    margin: 10px;
    opacity: 0;
    justify-content: center;
    text-align: center;
     
}

#contentText3 h1{
    font-size: 48px;
}

#contentText3 p{
    font-size: 38px;
}

 */




@media only screen and (max-width: 1629px) {
    #iframeYoutube {
        right: 100px;
    }
}



@media only screen and (max-width: 1623px) {
    #divTextImg2 {
        flex-wrap: wrap-reverse;
    }
}




@media only screen and (max-width: 1154px) {
    #divTextImg4 {
        display: none;
    }

    #divTextImg4Mobile {
        display: flex;
    }
}







/* MOBILE ADJUSTMENT */

@media only screen and (max-width: 600px) {


    /* SOMENTE AUMENTAR A IMAGE FEITA PARA O MOBILE ZOOM 1.6*/


    #imgPokedex {

        position: relative;
        display: flex;
        justify-content: center;
        background-position: -140px;
        background-image: url(img/mobilePokedex.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 530px;
        height: 930px;
        margin: 10px;
        zoom: 1.6;
    }

    #dataPokemon {
        display: flex;
        align-self: center;
        width: 288px;
        height: 210px;
        margin-right: 14px;
        margin-top: 131px;
        margin-bottom: 0px;
        margin-left: 60px;
        flex-wrap: wrap;
        flex-direction: column;
        color: rgb(49, 46, 46);
        background-color: rgb(194, 232, 255);
        border: 7px solid #798a9b;
        transform: scale(1);
        transition: 2s ease;

    }



    #butonsAudio {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 759px;
        right: 199px;
        flex-direction: column;
    }

    #pokemonSprite {
        margin-left: 60px;
    }

    #pokemonHelloMessageOrError {
        margin-left: 60px;
    }

    #inputTextoPokemon {
        margin-left: 60px;
    }

    #soundWave {
        display: none;
        position: absolute;
        width: 100px;
        height: 50px;
        left: 70px;
        top: 135px;
        transform: rotate(90deg);
    }

}

/* MOBILE ADJUSTMENT */



/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fed521;
    border-radius: 10px;
}


.custom-cursor {
    cursor: url(img/cursor.png), auto;
    /* Use your custom image */
}

.alias,
.all-scroll,
.auto,
.cell,
.col-resize,
.context-menu,
.copy,
.crosshair,
.default,
.e-resize,
.ew-resize,
.grab,
.grabbing,
.help,
.move,
.n-resize,
.ne-resize,
.nesw-resize,
.ns-resize,
.nw-resize,
.nwse-resize,
.no-drop,
.none,
.not-allowed,
.pointer,
.progress,
.row-resize,
.s-resize,
.se-resize,
.sw-resize,
.text,
.url,
.w-resize,
.wait,
.zoom-in,
.zoom-out {
    cursor: url(img/cursor.png), auto;
    /* Use your custom image */
}